<nav class="navbar navbar-expand-lg navbar-light bg-beige px-4 mb-5">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="index.html">
      <img src="img/landing_page_img/logo.png" alt="logo" width="80" height="80" class="me-2">
      Hodowla
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link fs-5 px-3" href="about_us.html">O nas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 px-3" href="about_ragdolls.html">O rasie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5 px-3" href="our_cats.html">Nasze koty</a>
        </li>

        <li class="nav-item dropdown position-static">
          <a class="nav-link dropdown-toggle fs-5 px-3" href="#" id="navbarDropdownMioty" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Mioty
          </a>
          <ul class="dropdown-menu" id="mioty-dropdown" aria-labelledby="navbarDropdownMioty">
            <!-- Wpisy będą wstawiane dynamicznie -->
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link fs-5 px-3" href="contact.html">Kontakt</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
